body{
    background: orange;
    text-align: center;
}
h1{
    margin-bottom: 3rem;
}

span{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
}
button{
    margin: 2rem;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




.container-btn{
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}